* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "open sans";
    color: #444;
    background-color: var(--white);
}

:root {
    --add-btn-bg: hsl(205, 100%, 50%);
    --add-btn-bg-hover: hsl(200, 100%, 50%);
    --white: rgb(250, 250, 250);
}

button {
    cursor: pointer;
}

.App {
    display: flex;
    padding: 1rem;
    height: 100vh;
}

.task-list {
    flex: 2;
    padding: 0 1rem;
    overflow-y: scroll;
}

.task-list::-webkit-scrollbar {
    display: none;
}

.menu,
.task-details,
.create-new-view {
    background-color: #f2f2f2;
    flex: 1;
    border-radius: 10px;
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.create-new-view {
    justify-content: center;
    align-items: center;
}

.create-new-view button {
    color: #666;
    font-size: 1.5rem;
    transition: 0.15s;
    border: none;
    background-color: transparent;
    padding: 1rem;
}

.create-new-view button:hover {
    color: var(--add-btn-bg);
    scale: 1.1;
}

.menu {
    flex: .7;
}

.task-list {
    display: flex;
    flex-direction: column;
}

.task-list header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.add-task-btn {
    background-color: var(--add-btn-bg);
    border: none;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: rgb(250, 250, 250);
    border-radius: 50%;
}

.add-task-btn:hover {
    background-color: var(--add-btn-bg-hover);
}

.task {
    display: flex;
    padding: .8rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 1px solid #f2f2f2;
}

.task:last-child {
    border-bottom: none;
}

.task:hover {
    background-color: #f2f2f2;
}

.task input {
    margin-right: 1rem;
}

.task p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    font-weight: 500;
}

.task p span {
    display: none;
    padding: 0 10px;
}

.task p span:hover {
    color: rgb(255, 100, 100);
}

.task:hover p span {
    display: block;
}

/* TASK DETAILS */

.task-details {
    position: relative;
}

.task-details h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.task-details form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* .task-details form label {
    margin: 1rem 0 .5rem;
    font-weight: 500;
} */

.task-details form :is(input, textarea) {
    background-color: rgb(250, 250, 250);
    outline: none;
    border: solid 1px #ddd;
    padding: .7rem;
    border-radius: 5px;
    resize: none;
    font-family: inherit;
    margin: .5rem 0;
    font-size: .9rem;
}

.task-details form textarea {
    height: 10rem;
}

.task-details :is(input:disabled, textarea:disabled) {
    background-color: #eee;
    /* cursor: auto; */
}

.task-details .buttons {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.task-details .buttons button {
    padding: .6rem 1.5rem;
    font-weight: bold;
    border-radius: 5px;
    transition: .15s;
}

.task-details .buttons button.delete-btn {
    color: rgb(255, 100, 100);
    border: solid 1px rgb(255, 100, 100);
}

.task-details .buttons button.delete-btn:hover {
    background-color: rgb(255, 100, 100);
    color: rgb(250, 250, 250);
}

.task-details .buttons button.save-btn {
    background-color: rgb(72, 160, 72);
    color: rgb(250, 250, 250);
    border: solid 1px rgb(72, 160, 72);
}

.create-view .save-btn {
    width: 100%;
}

.task-details .buttons button.save-btn:hover {
    color: rgb(72, 160, 72);
    background-color: rgb(250, 250, 250);
}

.task-details .buttons button.edit-btn {
    color: #444;
    border: solid 1px hsl(50, 100%, 49%);
    background-color: hsl(50, 100%, 49%);
}

.task-details .buttons button.edit-btn:hover {
    background-color: #f2f2f2;
}

.task-created {
    background-color: rgba(0, 128, 0, 0.247);
    color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade-out 1s forwards 3s;
}

@keyframes fade-out {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        display: none;
    }
}

.category {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.category label {
    margin-right: 10px;
    font-size: .9rem;
}

.category select {
    outline: none;
    border: solid 1px #bbb;
    padding: 3px 5px;
    border-radius: 5px;
}